* {
  font-family: 'Titillium Web';
}
*::selection {
  background: #bb00ff;
}
html, body {
  height: 100%;
}
body {
  background-color: #5BCC70;
  color: #FFFFFF;
  padding-left: 0px;
  width: 100%;
  display: table;
}
input {
  vertical-align: top;
}
input.large-search-text {
  font-size: 18px;
  text-indent: 30px;
  color: #000000;
  background-color: #ECECEC;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  width: 500px;
  height: 50px;
  border: 0;
  outline: none;
}
input.large-search-button {
  background-color: #ECECEC;
  margin-left: -20px;
  width: 50px;
  height: 50px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border: 0;
  background-image: url('../img/search.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
input.small-search-text {
  font-size: 16px;
  text-align: center;
  color: #000000;
  background-color: #ECECEC;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  width: 300px;
  height: 30px;
  border: 0;
  outline: none;
}
input.small-search-button {
  background-color: #ECECEC;
  margin-left: -20px;
  width: 30px;
  height: 30px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border: 0;
  background-image: url('../img/search.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
label {
  font-size: 13px;
}
table, th, td {
  border: 2px solid black;
  padding: 15px;
}
th {
  font-size: 16px;
  text-align: center;
}
legend.main {
  font-size: 16px;
  color: #FFFFFF;
}
legend.sub {
  font-size: 14px;
  color: #FFFFFF;
}
fieldset {
  float: left;
  width: 50%;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #FFFFFF;
  font-size: 32pt;
  text-decoration: none;
  text-align: center;
}
.page-header {
  background-color: #00C066;
  margin-top: 0;
  padding: 1px 20px 10px 40px;
}
.body {
  padding-left: 10px;
}
.page-footer {
  font-size: 12px;
  text-align: center;
  background: #00C966;
  display: table-row;
  height: 110px;
}
.description {
  padding-top: 50px;
}
.summoner {
  font-size: 20px;
  text-align: center;
  color: #FFFF00;
}
.all-stats {
  width: 100%;
  overflow: hidden;
}
.lifetime-stats-with-chart {
  margin-left: 30px;
  width: 400px;
  float: left;
}
.large-charts {
  float: left;
}
.interactive {
  width: 420px;
  float: left;
}
#search-home {
  text-align: center;
  padding-top: 150px;
}
#options {
  color: #FFFFFF;
  position: relative;
  left: 50px;
  width: 320px;
  height: 450px;
  border: 2px solid;
  padding: 10px;
}
#options-button {
  color: #666666;
  background-color: #ECECEC;
  border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
  border: 0px;
}
#cs-container-0, #cs-container-1, #cs-container-2, #cs-container-3, #cs-container-4, #cs-container-5, #cs-container-6, #cs-container-7, #cs-container-8, #cs-container-9 {
  margin: 0 auto;
  margin-bottom: 20px;
}
p.form-caveat {
  font-size: 11px;
}
.fa-2x {
  font-size: 2em;
}
.fa:not(.fa-options) {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
.fa-options {
  position: relative;
  display: table-cell;
  width: 65px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
.main-menu:hover,nav.main-menu.expanded {
  width:450px;
  overflow:visible;
  overflow-y: scroll;
}
.main-menu {
  background: rgba(159, 121, 238, 0.90);
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:30px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
}
.main-menu>ul {
  margin:7px 0;
}
.main-menu li {
  position:relative;
  display:block;
  width:420px;
  color:#FFFFFF;
}
.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#FFFFFF;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}
.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:419px;
  font-family: 'Titillium Web', sans-serif;
}
.no-touch .scrollable.hover {
  overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }
a:hover,a:focus {
  text-decoration:none;
}
nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a
{
  color:#FFBBFF;
  background-color:#5fa2db;
}
