<!-- ORIGINAL -->
{% extends 'summonerstats/base_with_sidebar.html' %}

{% block content %}
  <div>
    <form id="search-home" name="summonersearch">
      <input type="text" class="large-search-text" name="summoner" placeholder="Enter the Summoner's name."/>
      <input type="button" id="large-search-button" onClick="getSummoner()"/>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="champion-select-home">
      <input type="button" id="champion-select-home-button" value="Champion Select Recommendations" onClick="goToChampionSelect()"/>
    </div>
  </div>
{% endblock %}
