{% extends 'summonerstats/base.html' %}

{% block content %}
  <div class='stats-page'>
    {% if messages %}
        {% for message in messages %}
            <p class='error'>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div class='summoner'>
      <p>Summoner: {{ summoner_name }}</p>
      <input type="button" id="getSummoner" value="Refresh {{ summoner_name }}'s Data" onClick="retrieveSummoner()">
      <form id="search-stats" name="summonersearch">
        <input type="text" class="small-search-text" name="summoner" placeholder="Enter another Summoner's name."/>
        <input type="button" id="small-search-button" onClick="getSummoner()"/>
      </form>
    </div>
    <br>
    <div class='all-stats'>
      {% if chart %}
        <div class='lifetime-stats-with-chart'>
          <table class='bordered-table'>
      {% else %}
        <div class='lifetime-stats-without-chart'>
          <table class='bordered-table' style="margin: 0px auto;">
      {% endif %}
            <tr>
              <th colspan="2">Lifetime Statistics (per Game):</th>
            </tr>
            <tr>
              <td>Win Rate ({{ summoner.matches_played }} games played)</td>
              <td>{{ summoner.get_winrate }}</td>
            </tr>
            <tr>
              <td>Damage Dealt</td>
              <td>{{ summoner.total_damage_dealt_champions|floatformat }}</td>
            </tr>
            <tr>
              <td>Kills</td>
              <td>{{ summoner.kills|floatformat }}</td>
            </tr>
            <tr>
              <td>Deaths</td>
              <td>{{ summoner.deaths|floatformat }}</td>
            </tr>
            <tr>
              <td>Assists</td>
              <td>{{ summoner.assists|floatformat }}</td>
            </tr>
            <tr>
              <td>Kill+Assist:Death Ratio (KDA)</td>
              <td>{{ summoner.kda|floatformat }}</td>
            </tr>
            <tr>
              <td>Creep Score (CS)</td>
              <td>{{ summoner.cs|floatformat }}</td>
            </tr>
            <tr>
              <td>Total Gold</td>
              <td>{{ summoner.gold|floatformat }}</td>
            </tr>
            <tr>
              <td>CS per Minute</td>
              <td>{{ summoner.cs_per_min|floatformat }}</td>
            </tr>
            <tr>
              <td>Gold per Minute</td>
              <td>{{ summoner.gold_per_min|floatformat }}</td>
            </tr>
            <tr>
              <td>Wards Placed</td>
              <td>{{ summoner.wards_placed|floatformat }}</td>
            </tr>
            <tr>
              <td>Wards Killed</td>
              <td>{{ summoner.wards_killed|floatformat }}</td>
            </tr>
          </table>
        </div>
        {% if chart %}
          {% if large %}
            <div class="large-charts">
              <div id="cs-container-0" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-1" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-2" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-3" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-4" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-5" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-6" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-7" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-8" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-9" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-10" style="width: 800px; height: 500px;"></div>
              <div id="cs-container-11" style="width: 800px; height: 500px;"></div>
            </div>
          {% else %}
            <div class="interactive left">
              <div id="cs-container-0" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-2" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-4" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-6" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-8" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-10" style="width: 400px; height: 300px;"></div>
            </div>
            <div class="interactive right">
              <div id="cs-container-1" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-3" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-5" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-7" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-9" style="width: 400px; height: 300px;"></div>
              <div id="cs-container-11" style="width: 400px; height: 300px;"></div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="options-area">
      <nav class="main-menu">
        <ul>
          <li>
            <a href="{% url 'home' %}">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Home
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'about' %}">
              <i class="fa fa-about fa-2x"></i>
              <span class="nav-text">
                About
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'championselect' %}">
              <i class="fa fa-championselect fa-2x"></i>
              <span class="nav-text">
                Champion Select Recommendations
              </span>
            </a>
          </li>
          <li>
            <i class="fa fa-options fa-2x"></i>
            <span class="nav-text">
              Graphing Options
            </span>
          </li>
          <li>
            <form id="options" method="get">
              <legend class='main'>Data Options:</legend>
              <fieldset class='stats'>
                <legend class='sub'>Time Intervals*</legend>
                <input id="ti1" type="radio" name="interval" value="Year" checked>
                <label for="ti1">1 Year (365.25 Days)</label><br>
                <input id="ti2" type="radio" name="interval" value="30 Day Period">
                <label for="ti2">30 Day Period</label><br>
                <input id="ti3" type="radio" name="interval" value="Week">
                <label for="ti3">1 Week</label><br>
                <input id="ti4" type="radio" name="interval" value="Day">
                <label for="ti4">1 Day</label><br>
              </fieldset>
              <fieldset class='stats'>
                <legend class='sub'>Role*</legend>
                <input id="r1" type="radio" name="role" value="All" checked>
                <label for="r1">All</label><br>
                <input id="r2" type="radio" name="role" value="Top">
                <label for="r2">Top</label><br>
                <input id="r3" type="radio" name="role" value="Jungle">
                <label for="r3">Jungle</label><br>
                <input id="r4" type="radio" name="role" value="Mid">
                <label for="r4">Mid</label><br>
                <input id="r5" type="radio" name="role" value="AD Carry">
                <label for="r5">AD Carry</label><br>
                <input id="r6" type="radio" name="role" value="Support">
                <label for="r6">Support</label><br>
              </fieldset>
              <legend class='main'>Graph Options:</legend>
              <fieldset class='stats'>
                <legend class='sub'>Graph Size*</legend>
                <input id="gs1" type="radio" name="chartsize" value="small" checked>
                <label for="gs1">Small</label><br>
                <input id="gs2" type="radio" name="chartsize" value="large">
                <label for="gs2">Large</label><br>
              </fieldset>
              <br><br><br><br><br><br>
              <input type="submit" id="options-button" value="Graph!" onClick="">
              <p class='form-caveat'>*Required</p>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <br>
  <br>
  <script>
    $(function () {
        role = "{{ role }}";
        timeStart = {{ time_start|safe }};
        timeInterval = {{ time_interval }};
        timeIntervalName = "{{ time_interval_name }}";
        matchesPlayed = {{ matches_played|safe }};
        winrateValues = {{ winrate_values|safe }};
        damageDealtValues = {{ damage_dealt_values|safe }};
        killValues = {{ kill_values|safe }};
        deathValues = {{ death_values|safe }};
        assistValues = {{ assist_values|safe }};
        kdaValues = {{ kda_values|safe }};
        csValues = {{ cs_values|safe }};
        goldValues = {{ gold_values|safe }};
        csPerMinValues = {{ cs_per_min_values|safe }};
        goldPerMinValues = {{ gold_per_min_values|safe }};
        wardsPlacedValues = {{ wards_placed_values|safe }};
        wardsKilledValues = {{ wards_killed_values|safe }};
        winrateRegValues = [];
        damageDealtRegValues = [];
        killRegValues = [];
        deathRegValues = [];
        assistRegValues = [];
        kdaRegValues = [];
        csRegValues = [];
        goldRegValues = [];
        csPerMinRegValues = [];
        goldPerMinRegValues = [];
        wardsPlacedRegValues = [];
        wardsKilledRegValues = [];
        for (i = 0; i < matchesPlayed.length; i++) {
            if (matchesPlayed[i] == 0) {
                matchesPlayed[i] = null;
                winrateValues[i] = null;
                damageDealtValues[i] = null;
                killValues[i] = null;
                deathValues[i] = null;
                assistValues[i] = null;
                kdaValues[i] = null;
                csValues[i] = null;
                goldValues[i] = null;
                csPerMinValues[i] = null;
                goldPerMinValues[i] = null;
                wardsPlacedValues[i] = null;
                wardsKilledValues[i] = null;
            }
            else {
                j = Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]) + timeInterval * i;
                winrateValues[i] = winrateValues[i] * 100;
                winrateRegValues.push([j, winrateValues[i]]);
                damageDealtValues[i] = goldValues[i] / 1000;
                damageDealtRegValues.push([j, damageDealtValues[i]]);
                killRegValues.push([j, killValues[i]]);
                deathRegValues.push([j, deathValues[i]]);
                assistRegValues.push([j, assistValues[i]]);
                kdaRegValues.push([j, kdaValues[i]]);
                csRegValues.push([j, csValues[i]]);
                goldValues[i] = goldValues[i] / 1000;
                goldRegValues.push([j, goldValues[i]]);
                csPerMinRegValues.push([j, csPerMinValues[i]]);
                goldPerMinRegValues.push([j, goldPerMinValues[i]]);
                wardsPlacedRegValues.push([j, wardsPlacedValues[i]]);
                wardsKilledRegValues.push([j, wardsKilledValues[i]]);
            }
        }
        $('#cs-container-0').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Win Rate<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                labels: {
                  format: '{value}%'
                },
                title: {
                    text: 'Win Rate'
                },
                max: 100,
                min: 0
            }, { // Right axis
                title: {
                  text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: '% Win Rate'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Win Rate',
                data: winrateValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(winrateRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-1').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Damage Dealt<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                labels: {
                    format: '{value}K'
                },
                title: {
                    text: 'Damage Dealt to Champions'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: 'K Damage'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Damage Dealt to Champions',
                data: damageDealtValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(damageDealtRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-2').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Number of Kills<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Kills'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' Kills'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Kills',
                data: killValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(killRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-3').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Number of Deaths<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Deaths'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' Deaths'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Deaths',
                data: deathValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(deathRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-4').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Number of Assists<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Assists'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' Assists'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Assists',
                data: assistValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(assistRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-5').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average KDA Ratio<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'KDA'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' KDA'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'KDA',
                data: kdaValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(kdaRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-6').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Creep Score (CS)<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Creep Score (CS)'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' CS'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'CS',
                data: csValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(csRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-7').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Gold Earned<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                labels: {
                  format: '{value}K'
                },
                title: {
                    text: 'Gold (in thousands)'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: 'k Gold'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Gold',
                data: goldValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(goldRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-8').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Creep Score (CS) per Minute<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Creep Score (CS) per Minute'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' CS per min'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'CS per Min',
                data: csPerMinValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(csPerMinRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-9').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Gold per Minute<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Gold per Minute (GPM)'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' GPM'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'GPM',
                data: goldPerMinValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(goldPerMinRegValues).data;
                })()
            }, {
                name: 'Games Played',
                yAxis: 1,
                data: matchesPlayed,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                tooltip: {
                  valueSuffix: ' Games Played'
                },
                marker : {
                  radius : 1
                }
            }]
        });
        $('#cs-container-10').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                marginBottom: 105
            },
            title: {
                text: 'Average Number of Wards Placed<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
            },
            subtitle: {
                text: 'The omission of certain data points represent times when no games were played.'
            },
            credits: {
                text: 'Zoom by dragging the graph with your mouse.',
                position: {
                    align: 'center'
                },
                href: null
            },
            xAxis: {
                type: 'datetime',
                startOfWeek: 0,
                tickInterval: timeInterval,
                labels: {
                  rotation: -35,
                  formatter:
                  function () {
                      return Highcharts.dateFormat('%b %e, %Y', this.value)
                  }
                }
            },
            yAxis: [{ // Left axis
                title: {
                    text: 'Wards Placed'
                },
            }, { // Right axis
                title: {
                    text: 'Games Played'
                },
                opposite: true
            }],
            tooltip: {
                xDateFormat: 'Start of Period: %b %e, %Y',
                valueDecimals: 1,
                shared: true,
                valueSuffix: ' Wards Placed'
            },
            plotOptions: {
                series: {
                  states: {
                    hover: {
                      lineWidthPlus: 0
                    }
                  }
                }
            },
            series: [{
                name: 'Wards Placed',
                data: wardsPlacedValues,
                pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
                pointInterval: timeInterval,
                lineWidth : 0,
                marker : {
                  enabled : true,
                  radius : 3
                }
            }, {
                name: 'Expected Value (Regression)',
                type: 'line',
                marker: { enabled: false, radius: 0 },
                /* function returns data for trend-line */
                data: (function() {
                  return fitData(wardsPlacedRegValues).data;
              })()
          }, {
              name: 'Games Played',
              yAxis: 1,
              data: matchesPlayed,
              pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
              pointInterval: timeInterval,
              lineWidth : 0,
              tooltip: {
                valueSuffix: ' Games Played'
              },
              marker : {
                radius : 1
              }
          }]
      });
      $('#cs-container-11').highcharts({
          chart: {
              type: 'spline',
              zoomType: 'x',
              marginBottom: 105
          },
          title: {
              text: 'Average Number of Wards Killed<br/>(Role = ' + role + ', Interval = ' + timeIntervalName + ')'
          },
          subtitle: {
              text: 'The omission of certain data points represent times when no games were played.'
          },
          credits: {
              text: 'Zoom by dragging the graph with your mouse.',
              position: {
                  align: 'center'
              },
              href: null
          },
          xAxis: {
              type: 'datetime',
              startOfWeek: 0,
              tickInterval: timeInterval,
              labels: {
                rotation: -35,
                formatter:
                function () {
                    return Highcharts.dateFormat('%b %e, %Y', this.value)
                }
              }
          },
          yAxis: [{ // Left axis
              title: {
                  text: 'Wards Killed'
              },
          }, { // Right axis
              title: {
                  text: 'Games Played'
              },
              opposite: true
          }],
          tooltip: {
              xDateFormat: 'Start of Period: %b %e, %Y',
              valueDecimals: 1,
              shared: true,
              valueSuffix: ' Wards Killed'
          },
          plotOptions: {
              series: {
                states: {
                  hover: {
                    lineWidthPlus: 0
                  }
                }
              }
          },
          series: [{
              name: 'Wards Killed',
              data: wardsKilledValues,
              pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
              pointInterval: timeInterval,
              lineWidth : 0,
              marker : {
                enabled : true,
                radius : 3
              }
          }, {
              name: 'Expected Value (Regression)',
              type: 'line',
              marker: { enabled: false },
              /* function returns data for trend-line */
              data: (function() {
                return fitData(wardsKilledRegValues).data;
              })()
          }, {
              name: 'Games Played',
              yAxis: 1,
              data: matchesPlayed,
              pointStart: Date.UTC(timeStart[0], timeStart[1]-1, timeStart[2]),
              pointInterval: timeInterval,
              lineWidth : 0,
              tooltip: {
                valueSuffix: ' Games Played'
              },
              marker : {
                radius : 1
              }
          }]
      });
  });
  </script>
{% endblock %}
