<!-- ORIGINAL -->
{% extends 'summonerstats/base_with_sidebar.html' %}
{% load staticfiles %}
{% block content %}
  <div class='summoner-not-found'>
    <br>
    <br>
    <br>
    <img src="{% static 'img/teemo.gif' %}">
    <br>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            <p class='error'>{{ message }}</p> <!-- displays messages if any -->
        {% endfor %}
    {% endif %}
    <br>
    <p>Unfortunately, <u>{{ summoner_name }}</u> is not currently in our database.</p>
    <p>Would you like to retrieve the data for this summoner?</p>
    <input type="button" id="getSummoner" value="Get {{ summoner_name }}'s Data" onClick="retrieveSummoner()">
  </div>
{% endblock %}
